

body{margin:0; 
	padding:0;
	background-image: url(../img/modulo.png);
	}

#contenedorbig{
	width: 90%;
	margin: 0 auto;
	display: flex;
    }

html{ scroll-behavior: smooth;}

  @keyframes aparecer{

  	0%{opacity: 0;}
  	100%{opacity: 1;}
  }
  @keyframes escalar{

  	0%{opacity: 0;
  	   }
  	100%{opacity: 1;
  	}
  }




#navegador #logo{
	float: left;
	padding: 15px;
	text-decoration: none;
	}


#navegador #logo:hover {
		color:rgb(0,122,47);
		transition-duration: 1s;
		}
	

	
	
#navegador{background: #000000;
	color: white;
	height: 80px;
    width: 100%; 
	left: 0; 
	top: 0; 
	position: sticky;
	z-index: 400;
	}
	
#navegador a {
		color: white;
		}


#navegador #logo {
				color: white;
				text-decoration: none;
				font-family: 'Permanent Marker';
				font-size:30px;
				display: inline-block;
				line-height: 80px;
				margin-left: 50px;
				}

nav {
	float: right;
	font-family: 'Righteous';
	
}
	nav ul {
		margin: 0;
		padding: 0;
		list-style: none;
		padding-right: 20px;
	}
	
		nav ul li {
			display: inline-block;
			line-height: 80px;
		}
			
			nav ul li a {
				display: block;
				padding: 0 10px;
				text-decoration: none;
				transition-duration: 1s;

			}
			
				nav ul li a:hover {
					background: rgb(0,122,47);
				}




#index{	width: 100%;
		height: 80px;
}





 				








.header_titulo{
	background: rgb(0,122,47);
	height: 60px;
	border-radius: 50px;}


.header_titulo h2{	padding:7px;
					color:white;
        			font-size:30px;
        			text-align:center;
    				margin-left: auto;
					margin-right: auto;
					font-family: 'Righteous';
					}


#estilo_txt p{font-family: 'Roboto', sans-serif;
         	color:white;
         	font-size: 17px;
         	}



#bio{width: 50%;
	padding: 1.5%;
	border:solid white;
	box-sizing: border-box;
	}



#filmografia { 
	width: 50%;
	padding: 1.5%;
	background-color: black;
	box-sizing: border-box;
	}

#estudios{ 
	width: 50%;
	padding: 1.5%;
	box-sizing: border-box;
	background-color: #540996;
	}

#reconocimientos{ 
	width: 50%;
	padding: 1.5%;
	box-sizing: border-box;
	background-color: #3f0585;
	}





#pelis p{font-family: 'Roboto', sans-serif;
         color:white;
         font-size: 17px;
         text-align: center;}

#car  {text-align: center;
       margin-top: 20px;}

#car img{border-radius: 100%;}


#texto_bio p{	font-family: 'Roboto', sans-serif;
         		color:white;
         		font-size: 16px;
         		text-align: center;
         	}

footer{	width:100%; 
		height:50px;
		background: rgb(0,122,47); 
		text-align: center; 
		padding-top:20px;}

span{	font-family: 'Roboto', sans-serif;
         color:white;
         font-size: 14px;
         text-align: center;}



   
@media (min-width: 1201px){

	body{}

}

@media screen and (min-width: 960px) and (max-width: 1200px){

body{background-image: url(../img/modulo02.png);}
#contenedorbig{ justify-content: space-between; }

}

@media screen and (min-width: 600px) and (max-width: 959px) {


body{background-image: url(../img/modulo03.png);}
#contenedorbig{flex-wrap: wrap;}
#bio{width: 100%;}
#navegador{height: 200px;}
#filmografia,#estudios{width: 50%;}
#reconocimientos{width: 100%;}

}

@media screen and (min-width: 0px) and (max-width: 599px) {


body{background-image: url(../img/modulo04.png);}

#contenedorbig{ flex-direction: column; 
width: 100%;}
#navegador{height: 200px;}
#bio,#filmografia,#estudios,#reconocimientos{ width: 100%; }


}
